body{
    font-family:Arial;
    margin:0;
    background-color:white;
    color:Black;
}

header{
    background-color:#1e90ff
    padding:20px;
    color:white;
    text-align:center;
}

section{
    background:#1e90ff;
    color:white;
    margin:20px;
    padding:20px;
}